.no-shadows {
    box-shadow: none;
}

.ihrm-logo {
    height: 45px;
    width: 107px;
    margin-top: 7.5px;
}

body {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    overflow-x: hidden;
}

a {
    color: #000000;
}

ul li a:hover {
    background-color: #ffffff;
}

.get-started {
    background-color: #ca9d2a;
    color: #fff;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-family: avenir_medium;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}

.ihrm-awards-logo {
    height: 100px;
    width: 160px;
    margin-top: 50px;
    margin-bottom: 25px;
}

button:active {
    background-color: #000000;
}

.award-category {
    border: 1px solid #707070;
    border-radius: 5px;
    height: 180px;
    margin-top: 25px;
}

.circle-of-excellence {
    color: #183c70;
}

.learn-more {
    background-color: #ffffff;
    color: #ca9d2a;
    border: 1px solid #ca9d2a;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px !important;
    border-radius: 25px;
    z-index: 2;
    position: relative;
}

hr {
    width: 10%;
}

.award-category-hr {
    width: 5%;
}

h4 {
    color: #183c70;
}

#paths1 {
    height: 600px;
    width: 1055px;
    z-index: 1;
    position: relative;
    display: inline-block;
    opacity: 0.15;
    -webkit-transform: translate(105%,-80%);
    -ms-transform: translate(105%,-80%);
    transform: translate(105%,-80%);
}

#paths2 {
    opacity: 0.15;
    height: 795px;
    width: 885px;
    z-index: 1;
    position: relative;
    display: inline-block;
    -webkit-transform:translate(35%,-10%);
    -ms-transform:translate(35%,-10%);
        transform:translate(35%,-10%);
}

#paths3 {
    opacity: 0.15;
    height: 795px;
    width: 885px;
    position: absolute;
    margin-top: -250px;
    left: -595px;
    rotation: -254deg;
}

.trophy {
    height: 484px;
    width: 645px;
}

p {
    line-height: 40px;
}

.paragraph-div{
    font-size: 14px;
}

/* large desktop devices */
@media all and (min-width: 1200px)
{
    .paragraph-div {
        width: 90%;
    }
    .award-navbar {
        color: #183c70;
        font-size: 20px;
        margin-left: 16px;
    }
    .get-started {
        width: 150px;
    }
    .trophy {
        margin-left: -70px;
    }
}

/*Ryan was here*/

@font-face {
    font-family: 'avenir_bold'; /*a name to be used later*/
    src: url('../fonts/avenirheavy.otf'); /*URL to font*/
}

@font-face {
    font-family: 'avenir_medium'; /*a name to be used later*/
    src: url('../fonts/avenirmedium.otf'); /*URL to font*/
}

@font-face {
    font-family: 'avenir_roman'; /*a name to be used later*/
    src: url('../fonts/avenirroman.otf'); /*URL to font*/
}

.avenir_bold{
    font-family: avenir_bold !important;
}

.avenir_medium{
    font-family: avenir_medium !important;
}

.avenir_roman{
    font-family: avenir_roman !important;
}

.small{
    font-size: 14px !important;
}

.custom_grey {
    color: #707070 !important;
}

.push-alittle{
    padding-left: 150px;
}

.divider{
    height: 1px;
    background-color: #707070;
    width: 88px;
    margin-top: 20px;
}

/* desktop devices*/
@media all and (min-width: 600px) and (max-width: 1200px)
{
    .paragraph-div {
        width: 80%;
    }
    .award-navbar {
        color: #183c70;
        font-size: 20px;
        margin-left: 32px;
    }
    .get-started {
        width: 120px;
    }
    .award-category {
        width: 90%;
    }
}

/* tablet devices */
@media all and (min-width: 600px) and (max-width: 992px)
{
    .paragraph-div {
        width: 80%;
    }
    .award-category {
        width: 90%;
    }
}

/* mobile devices */
@media all and (max-width: 600px)
{
    .paragraph-div {
        width: 100%;
    }
    .award-category {
        width: 100%;
    }
}

.objectives {
    margin-top: 200px;
}