.no-shadows {
    box-shadow: none;
}

.ihrm-logo {
    height: 45px;
    width: 107px;
    margin-top: 7.5px;
}

body {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    overflow-x: hidden;
}

a {
    color: #000000;
}

ul li a:hover {
    background-color: #ffffff;
}

.get-started {
    background-color: #ca9d2a;
    color: #fff;
    width: 180px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}

.ihrm-awards-logo {
    height: 100px;
    width: 160px;
    margin-top: 50px;
    margin-bottom: 25px;
}

button:active {
    background-color: #000000;
}

.award-category {
    border: 1px solid #707070;
    border-radius: 5px;
    width: 90%;
    height: 180px;
    margin-top: 25px;
}

.award-navbar {
    color: #183c70;
    font-size: 25px;
    margin-left: 16px;
}

.circle-of-excellence {
    color: #183c70;
}

.learn-more {
    background-color: #ffffff;
    color: #ca9d2a;
    border: 1px solid #ca9d2a;
    width: 180px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
    z-index: 2;
    position: relative;
}

hr {
    width: 10%;
}

.award-category-hr {
    width: 5%;
}

h4 {
    color: #183c70;
}

#paths1 {
    height: 600px;
    width: 1055px;
    z-index: 1;
    position: relative;
    display: inline-block;
    -webkit-transform:translate(105%,-80%);
    -ms-transform:translate(105%,-80%);
        transform:translate(105%,-80%);
}

#paths2 {
    height: 795px;
    width: 885px;
    z-index: 1;
    position: relative;
    display: inline-block;
    -webkit-transform:translate(35%,-10%);
    -ms-transform:translate(35%,-10%);
        transform:translate(35%,-10%);
}

#paths3 {
    height: 795px;
    width: 885px;
    display: inline-block;
    -webkit-transform:translate(-65%,-27.5%);
    -ms-transform:translate(-65%,-27.5%);
        transform:translate(-65%,-27.5%);
}

.trophy {
    height: calc(width * 0.75);
    width: 100%;
}